apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  labels:
    tor: hide-me
    tor-config-name: torbridgeconfig-sample
    tor-config-namespace: default
    app: nginx-hidden
    component: web
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 101
    ports:
    - containerPort: 80
      protocol: TCP
    - containerPort: 9050
      protocol: TCP
    - containerPort: 9030
      protocol: TCP
    - containerPort: 9001
      protocol: TCP
    env:
    - name: HOSTNAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    volumeMounts:
    - name: config-volume
      mountPath: /etc/nginx/templates
    command: ["/bin/sh"]
    args:
    - -c
    - |
      envsubst '$HOSTNAME $POD_IP' < /etc/nginx/templates/default.conf.template > /etc/nginx/conf.d/default.conf
      nginx -g 'daemon off;'
  volumes:
  - name: config-volume
    configMap:
      name: nginx-config
  - name: tmp
    emptyDir: {}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf.template: |
    server {
      listen 80;
      location / {
        default_type text/plain;
        return 200 "$host - $HOSTNAME - $POD_IP";
        add_header Content-Type text/plain;
      }
    }
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    tor: hide-me
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort